*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
}

.container{
    height: 100%;
    background-image: url("images/background.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 20px
}
.socialmedia{
    margin-left: 3rem;
    display: flex;
    align-items: center;
}
.socials{
    padding: 1rem;
    width: 40px;
}

.merchandise{
    background-color: #031926;
    border-radius: 20px;
    padding: 10px;
}

.bookings{
    background-color: crimson;
    border-radius: 20px;    
    padding: 10px;
}

.fillings{
    height: 300px;
    background-color: tomato;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #211F25;
    color: white;
}

footer button{
    cursor: pointer;
    background-color: rgb(31, 27, 27);
    border: 0px;
    padding: 1rem;
    border-radius: 20%;
}

button:hover{
    background-color: #2ecc71;
}

footer > p, a{
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    color: white;
}   
